html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #21232e;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: black;
  background-color: $colorBG;
}

.landing-logo {
  width: 110px;
  font-family: $fontSecondary;
  display: flex;

  img {
    width: 38px;
    margin-right: 11px;
  }

  p {
    margin: 0;
    padding-top: 0.1rem;
    font-size: 1.25rem;
    letter-spacing: 0.01rem;
    font-weight: bolder;

    span {
      display: block;
      font-size: 0.4em;
      text-align: center;
      margin-top: 2px;
    }
  }
}

header {
  max-width: 1600px;
  height: 584px;
  padding-top: 17px;
  margin-bottom: 33px;
  background: $imageBGHeader center;
  border-bottom-right-radius: 650px 250px;

  .header-wrap {
    margin-left: 10%;
    color: $colorHeader;

    .landing-logo {
      margin-bottom: 59px;
    }

    .header_heading {
      margin: 0 0 48px 0;
      width: 400px;
      position: relative;
      font-weight: bold;
      font-size: 3.7rem;
      line-height: 3.8rem;

      &:after {
        content: 'awesome';
        height: 43px;
        position: absolute;
        top: 78px;
        left: 0px;
        line-height: 25px;
        background-color: $colorBGSticker;
      }
    }

    .header_text {
      margin: 0 0 52px 0;
      max-width: 530px;
      padding-right: 20px;
      line-height: 1.3rem;
      color: lighten($colorHeader, 2%);
    }

    .header_button {
      margin: 0 8.7% 0 0;
      padding: 12px 37px 12px 37px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 0.8rem;
      color: white;
      background-color: $colorBGBtn;
      cursor: pointer;

      &:hover {
        background-color: lighten($colorBGBtn, 5%);
      }
    }

    a.login {
      color: white;
      font-size: 1rem;

      &:hover {
        text-decoration: none;
        color: lighten($colorBGBtn, 5%);
      }
    }
  }
}

main {
  max-width: 1600px;
  min-width: 650px;

  .section_text {
    margin: 0 auto 32px auto;
    width: 350px;
    font-size: 2.2rem;
    color: $colorSectionText;
    text-align: center;
    position: relative;

    &:before {
      content: '';
      width: 152px;
      height: 42px;
      position: absolute;
      bottom: 5px;
      right: 14px;
      background-color: $colorBGSticker;
      z-index: 1;
    }

    &:after {
      content: 'adventure';
      height: 40px;
      position: absolute;
      bottom: 0;
      right: 14px;
      z-index: 2;
    }
  }

  .section_card_wrap {
    margin: 0 auto 51px auto;
    max-width: 930px;
    color: white;

    .section_card {
      background-color: $colorBGCard;
      margin-bottom: 20px;
      padding: 17px;
      display: flex;
      align-items: center;
      border-radius: 5px;

      .section_card_img {
        width: 91%;
      }

      .section_card_right_container {
        text-align: center;
        color: #b8babe;

        .section_card_heading {
          margin: 0;
          font-size: 1.2rem;
          font-weight: bold;
          color: white;
        }

        .section_card_text {
          margin: 6% auto 4% auto;
          width: 73%;
          text-align: justify;
          line-height: 1.3rem;
        }

        a {
          color: inherit;

          &:hover {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }

  .section_banner {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    bottom: -61px;
    height: 120px;
    border-radius: 5px;
    background-color: $colorBGGradientStart;
    background: linear-gradient(
      to right,
      $colorBGGradientStart,
      $colorBGGradientEnd
    );

    .section_banner_text_wrap {
      margin: 0 auto;
      width: 73%;

      .section_banner_heading {
        margin: 0 0 15px 0;
        width: 350px;
        padding-top: 22px;
        color: $colorHeader;
        font-size: 1.6rem;
        font-weight: bold;
        position: relative;

        &:before {
          content: '';
          width: 53px;
          height: 41px;
          position: absolute;
          bottom: 0;
          left: 102px;
          background-color: $colorBGSticker;
          z-index: 1;
        }

        &:after {
          content: 'start';
          position: absolute;
          bottom: 0;
          left: 104px;
          z-index: 2;
        }
      }

      .section_banner_text {
        margin: 0;
        color: lightgrey;
      }
    }

    .section_banner_button {
      padding: 12px 37px 12px 37px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 0.8rem;
      color: white;
      background-color: $colorBGBtn;
      cursor: pointer;
      position: absolute;
      top: 33.1%;
      right: 13.5%;

      &:hover {
        background-color: lighten($colorBGBtn, 5%);
      }
    }
  }
}

footer {
  background-color: $colorBGFooter;
  padding: 91px 0 34px 0;
  color: #b8babe;

  .footer-wrap {
    margin: 0 auto;
    width: 81%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .footer_logo {
      padding-top: 5px;
      margin-right: 25px;
    }

    .footer_text {
      width: 260px;
      margin-right: 25px;
    }

    .footer-cr {
      padding-right: 63px;
    }
  }
}
