$colorHeader: #2c2f3c;
$colorSectionText: #21232e;
$colorCardContent: #b8babe;
$colorBG: #ffffff;
$colorBGBtn: #699900;
$colorBGSticker: #13a0c7;
$colorBGFooter: #21232e;
$colorBGCard: #21232e;
$colorBGGradientStart: #679705;
$colorBGGradientEnd: #305fd1;
$imageBGHeader: url('../img/m-h-day.jpg');
$fontPrimary: 'Source Sans Pro', sans-serif;
$fontSecondary: 'Hind', sans-serif;
$marginBannerHeading: 23px 0 17px 0;
