$colorAuth: #e3ac00;
$colorHeader: #ffffff;
$colorSectionText: #ffffff;
$colorBackground: #21232e;
$colorBackgroundSticker: #ff4e33;
$colorBackgroundFooter: #3b3f50;
$colorBackgroundCard: #3b3f50;
$colorBackgroundGradientStart: #dda206;
$colorBackgroundGradientEnd: #942e51;
$imageBackgroundHeader: url('../img/m-h-night.jpg');
