$colorAuth: #699900;
$colorHeader: #2c2f3c;
$colorSectionText: #21232e;
$colorBackground: #ffffff;
$colorBackgroundSticker: #13a0c7;
$colorBackgroundFooter: #21232e;
$colorBackgroundCard: #21232e;
$colorBackgroundGradientStart: #679705;
$colorBackgroundGradientEnd: #305fd1;
$imageBackgroundHeader: url('../img/m-h-day.jpg');
