$colorHeader: #ffffff;
$colorSectionText: #ffffff;
$colorBG: #21232e;
$colorBGBtn: #e3ac00;
$colorBGSticker: #ff4e33;
$colorBGFooter: #3b3f50;
$colorBGCard: #3b3f50;
$colorBGGradientStart: #dda206;
$colorBGGradientEnd: #942e51;
$imageBGHeader: url('../img/m-h-night.jpg');
$fontPrimary: 'Source Sans Pro', sans-serif;
$fontSecondary: 'Fresca', sans-serif;
