html {
  line-height: 1.15;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
b,
strong {
  font-weight: bolder;
}

.header {
  position: sticky;
  top: 0px;
  height: 10vh;
  background-color: white;
}
.header-wrap {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 90%;
}
.logo {
  margin: 0 30px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.logo-text {
  font-weight: normal;
  letter-spacing: 0.28rem;
  color: #555555;
}
.nav-link {
  color: #777;
  text-decoration: none;
  letter-spacing: 0.12rem;
  margin-right: 40px;
}
.nav-link:hover {
  color: #bfba55;
}

.hero {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/home-bg.jpg');
  background-size: cover;
  background-position-y: 10vh;
  background-position-x: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
  margin-bottom: 1.6rem;
}
.hero p {
  margin: 0;
}
.hero-wrap {
  padding-top: 20%;
}
.hero-header {
  font-size: 4.5rem;
  letter-spacing: 0.02rem;
  margin-top: 0;
  margin-bottom: 1.3%;
}
.hero-description {
  margin: 0;
  color: #bfb433;
  font-size: 0.9rem;
  letter-spacing: 0.13rem;
}
.hero-btn {
  display: block;
  width: 160px;
  padding-top: 0.9rem;
  padding-bottom: 1rem;
  margin: 3% auto 0 auto;
  border-radius: 40px;
  background-color: white;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  text-align: center;
}
.hero-btn:hover {
  color: #bfba55;
}

.main-section {
  max-width: 945px;
  margin: 0 auto;
}

.blog-post {
  padding-top: 5.4rem;
  padding-bottom: 3.9rem;
  border-bottom: 1px solid #cccccc;
}
.blog-post:last-child {
  border-bottom: none;
}
.blog-post-img {
  width: 100%;
  margin-bottom: 0.4rem;
}
.blog-post-header {
  font-size: 2rem;
  margin-bottom: 0.9rem;
}
.blog-post-props {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.blog-post-avatar {
  width: 42px;
  border-radius: 50%;
  margin-right: 0.4rem;
}
.blog-post-author {
  margin-right: 1.6rem;
  font-style: normal;
}
.blog-post-time {
  margin-right: 1rem;
}
.blog-entry {
  line-height: 1.6rem;
}
.continue-btn {
  display: block;
  width: 188px;
  margin-top: 2.3rem;
  padding-top: 0.9rem;
  padding-bottom: 1rem;
  border-radius: 40px;
  background-color: white;
  text-decoration: none;
  color: #777777;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-align: center;
  border: 1px solid #cccccc;
  font-weight: bolder;
}
.continue-btn:hover {
  color: #bfba55;
  border-color: #bfba55;
}

.footer {
  margin-top: 3.1rem;
  background-color: black;
}
.footer-wrap {
  color: #777;
  max-width: 945px;
  padding-top: 5.9rem;
  padding-bottom: 5.8rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
.footer-left {
  flex: 1;
  padding-right: 23%;
}
.footer-right {
  flex: 1;
}
.footer-bottom {
  padding-top: 0.3rem;
  width: 100%;
}

.footer-header {
  margin: 0 0 0.9rem 0;
  color: white;
  font-size: 2rem;
  font-weight: normal;
}
.footer-description {
  margin: 0;
  line-height: 1.6rem;
}
.footer-address {
  line-height: 1.6rem;
  font-style: normal;
}
.footer-address p {
  margin: 0 0 0.7rem 0;
}
.footer-address p:last-child {
  margin-bottom: 0;
}
.footer .mail-link {
  color: inherit;
  text-decoration: none;
}
.footer .mail-link:hover {
  color: white;
  text-decoration: underline;
}
