@media print {
  body {
    background-color: white;
    padding-top: 0;
    text-align: center;
  }
  .tm-sidebar,
  #about,
  .carousel-indicators,
  section.blocks > div.tm-content-box,
  section:nth-last-child(2),
  section img,
  img.img-fluid {
    display: none;
  }

  .tm-main-content {
    padding-top: 0;
  }

  .tm-banner {
    padding-top: 20px;
  }

  .tm-team-description-container {
    max-width: 100%;
  }

  .tm-section-title {
    text-transform: uppercase;
  }

  section .padding-medium,
  #tmCarousel {
    padding-top: 0;
    padding-bottom: 0;
  }

  #home {
    margin-bottom: 0;
  }

  section > div.tm-content-box,
  .tm-main-content > section.tm-content-box {
    margin-bottom: 0;
  }

  section.heading h2 {
    color: lightskyblue;
    font-weight: 300;
    margin: 0;
    margin-bottom: 20px;
  }
  section.heading .padding-medium {
    width: 380px;
    margin: 0 auto;
  }
  section.heading ol {
    list-style-type: none;
    padding-left: 0;
  }
  section.heading ol li:nth-child(even) {
    text-align: left;
  }
  section.heading ol li:nth-child(odd) {
    text-align: right;
  }

  section.blocks .tm-section-description:last-child {
    font-style: italic;
    word-spacing: 2em;
  }

  section {
    margin-bottom: 18px;
  }
  section.blocks {
    margin-bottom: 35px;
  }
}

@keyframes banner-animation {
  from {
    margin-left: 40%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    margin-left: 0%;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#home {
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
}

nav.tm-main-nav a:hover {
  background-color: lightskyblue;
  color: #fff;
}

.tm-banner {
  background: lightskyblue;
  background: linear-gradient(to right, lightskyblue, burlywood);
}
.tm-banner-inner {
  background-color: white;
  overflow: hidden;
}
.tm-banner-text {
  text-shadow: 5px 5px 3px #333;
  white-space: nowrap;
  animation-duration: 5s;
  animation-name: banner-animation;
  animation-iteration-count: infinite;
}
