body {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-weight: normal;
  color: teal;
}

.message {
  color: steelblue;
}

.items li:hover {
  background-color: #efefef;
}

.common {
  color: black;
  cursor: pointer;
}

.studied {
  color: green;
  cursor: pointer;
}
